.modal-content {
    border: none !important;
}

.input-form-custom {
    background-color: #f4f4f4 !important;
    min-height: 40px;
    border: none !important;
}

.navbar-toggler {
    font-size: 0.9rem !important;
}

a {
    text-decoration: none !important;
}

.rounded-table  {
    border-radius: 12px !important;
    overflow: hidden;
}